.socialSection {
  text-align: center;
}

.socialIconLink {
  margin: 10px 0;
  color: black;
  font-size: 28px;
  transition: 0.5s;
}

.socialIconLink:hover {
  color: #ff6700;
}

.svgIcon {
  max-width: 28px;
}
