.layout {
  
}

* {
  margin: 0 0;
  padding: 0 0;
}

body {
  max-width: 700px;
  margin: 5vw auto;
  background-color: #030303;
  color: #f1f1f1;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

ul {
  list-style-type:none
}
.description {
  text-align: center;
}

h1  {
  text-align: center;
  font-size: 2rem;
}

img {
  display: block;
  margin: 5vh auto 5vh;
}

.links {
  margin: 20px auto;
  width: 80vh;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.picture {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  text-align: center;
}

nav {
  display: flex;
  margin: 15px 15px;
}

.navigation-button {
  border-radius: 5px;
  margin: 0px 20px;
  padding: 10px;
  background-color: white;
  color: black;
  transition: 0.5s;
}

.navigation-button:hover {
  text-decoration: underline;
  background-color: black;
  color: white;
}

.contact > a {
  margin-left: 20px;
}

.card  {
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5vh auto 5vh;
  padding: 10px 20px;
  background-color: #000000;
}

.card:hover  {
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5vh auto 5vh;
  padding: 10px 20px;
  background-color: white;
  color: black;
  transition: 0.3s;
}

.card > small {
  font-size: 11px;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

.links > a {
  padding: 5px;
}

a:hover {
  color:black;
  background-color: white;
}

a {
  color: white
}

.experience-card {
  margin: 20px auto;
  padding: 10px;
  border: 2px solid white;
}
.experience small {
  color: black;
  background: white;
  padding: 2px 10px 2px 10px;
  margin-bottom: 3 0px;
  border-radius: 10px;
}

.experience-title > b {
  font-size: 24px;
  transition: 0.2s;
}

.experience-title > b:hover {
  background-color: darkorange;
}
.experience-title {
  margin: 10px;
}

p {
  line-height: 1.5;
}

.projects, .ideas {
  margin: 0 auto 20px;
}